<table>
    <tr>
        <th>id</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Detalhe</th>
    </tr>
    <tr *ngFor='let pessoas of pessoasArray'>
        <td>{{pessoas.id}}</td>
        <td>{{pessoas.name}}</td>
        <td>{{pessoas.email}}</td>
        <td><button (click)="detalheDaPessoa(pessoas)">Detalhe</button></td>

    </tr>
</table>
<div *ngIf='detalhePessoa'>
    <app-pessoas-detalhes [pessoas]="pessoas" (NovaPessoa)='alterarPessoas($event)'></app-pessoas-detalhes>
</div>